[submodule "thirdparty/unqlite"]
	path = thirdparty/unqlite
	url = https://github.com/symisc/unqlite.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "thirdparty/SPIRV-Cross"]
	path = thirdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk.git
